@charset "utf-8";
body,ul,li,h1,h2{ margin:0;padding:0;}
header{
	background:#CCC;
	padding:20px;}
footer{
	clear:both;
	background:#999;
	text-align:center;
	padding:20px;
	height:1%;}
footer ul li{
	display:inline;
	margin:0 15px;}
